body {
	background-color:lightgrey;
	font-family: 'Open Sans', sans-serif;
}

.box {
	box-sizing: border-box;
	padding:10px;
	width: 600px;
	min-height: 80vh;
	background-color: white;
	margin: 0 auto;
	padding-top: 20px;
	border-radius: 20px;
}

@media (max-width:600px) {
	.box {
		width:100%;
		min-height:100vh;
		padding:0;
	}
}

.app_margin {
	margin-top:1em;
	margin-bottom: 1em;
}

.app_button {
	display: inline-block;
	border:2px solid cornflowerblue;;
	text-decoration: none;
	height:2em;
	padding:0 1em;
	border-radius: 1.5em;
	line-height: 2em;

}

.app_input {
	box-sizing: border-box;
	padding-left:1em;
	width:100%;
	border:2px solid cornflowerblue;;
	border-radius: 1.5em;
	height:3em;
	display: block;
	margin:0 auto;
	margin-bottom:20px;
}

.app_submit {
	border:2px solid cornflowerblue;
	background: cornflowerblue;
	box-shadow: none;
	border-radius: 1.5em;
	height:3em;
	width:40%;
	margin-left:60%;
}

.app_image {
	width:100%;
}

.app_menu_href {
	display:inline-block;
	padding-left:1em;
	padding-right:1em;
}
